<!DOCTYPE html>
<html>
    <head class='base'>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

        <link href="{{ STATIC_URL }}css/dg_style.css" rel="stylesheet">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    {# if there is a course location, init function #}
    <body {% if course and course.lat and course.lon %}onload="init(){% endif %}">
      <div class="container">
        <div id="top-menu" class="masthead">
          <a href="{% url 'index' %}">Home</a>

          {% if request.user.is_authenticated %}
            | <a href="/accounts/logout/">Sign Out</a>
          {% else %}
            | <a href="/accounts/login/">Sign In</a>
          {% endif %}

        </div><!-- end top-menu -->

            {% if messages %}
              <div>
                <strong>Messages:</strong>
                <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
                </ul>
              </div>
            {% endif %}

            {% block content %}
            {% endblock content %}

      </div><!-- end container -->
    </body>
</html>

